#Título_principal {
    color: #2F2F2F;
}

#primeira-subtítulo {
    color: #6E6E6E;
}

#segundo-subtítulo {
    color: #8B0000;
}

#terceiro-subtítulo {
    color: #B8860B;
}

#principais-fases {
    color: #5A1E1E;
}

#quarto-subtítulo {
    color: #4F4F4F;
}

#consequências {
    color: #3B3B3B;
}

#quinto-subtítulo {
    color: #A67C00;
}

#sexto-subtítulo {
    color: #A67C00;
}